{% extends "layouts/base.njk" %}
{% set heroHeadline = insurance.en_us.hero.headline %}
{% set heroImage = insurance.en_us.hero.heroImg %}
{% set subhead = insurance.en_us.hero.subhead %}
{% set subhead_two = insurance.en_us.hero.subhead_two %}
{% set logo = insurance.en_us.hero.logo.url %}
{% set alt = insurance.en_us.hero.logo.alt %}

{% block content %}
  <section id="feature-section" class="c-feature-section-2">
    <div class="c-feature-image__image-mask-2"><img src="../../assets/images/{{heroImage}}" alt="" class="c-feature-section__image-2"></div>
    <div class="spacer-med"></div>
    <div class="c-feature-section__content is--align-center">
      <h2>{{heroHeadline}}</h2>
      <p class="is--body-subhead is--text-n80">{{subhead}}<br><br>‍<em>{{subhead_two}}</em></p><img src="../../assets/images/{{logo}}" loading="lazy" alt="{{alt}}">
    </div>
    <div class="spacer-med"></div>
  </section>
  <div class="is--align-center section-sml">
    <div class="_40-width-container w-container">
      <h3><strong>What insurance is provided to riders?</strong></h3>
      <div>Lime has obtained insurance coverage with respect to its own activities and the key risks to riders arising from the use of Lime and JUMP vehicles. Our riders in EMEA and Asia-Pacific benefit from the following insurance coverage, at no additional cost through an insurance policy obtained by Lime from its insurer, Allianz.</div>
    </div>
  </div>
  <section id="feature-section" class="c-feature-section-2">
    <div class="c-feature-image__image-mask-2"><img src="../../assets/images/lime_madrid_spain-317.jpg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 69vw, (max-width: 1279px) 44vw, (max-width: 1439px) 45vw, (max-width: 1919px) 46vw, 50vw" srcset="../../assets/images/lime_madrid_spain-317-p-800.jpeg 800w,../../assets/images/lime_madrid_spain-317.jpg 1024w" alt="" class="c-feature-section__image-2"></div>
    <div class="spacer-med"></div>
    <div class="c-feature-section__content">
      <h3>Rider’s Personal Accident Coverage</h3>
      <p class="is--body-subhead is--text-n80">This insures a rider for bodily injuries that happen while riding a Lime or JUMP vehicle, even if it is due to the rider’s own mistake and not the fault of Lime. A rider is insured for the amounts in the table set out in the attached certificate based on the type and severity of injury.</p>
      <div class="spacer-sm"></div>
      <a href="#" class="btn w-button">Certificates</a>
    </div>
    <div class="spacer-med"></div>
  </section>
  <div class="spacer-med"></div>
  <section id="feature-section" class="c-feature-section-2">
    <div class="spacer-med"></div>
    <div class="c-feature-section__content">
      <h3>Rider’s Liability Coverage</h3>
      <p class="is--body-subhead is--text-n80">This provides insurance coverage to a rider for bodily injuries caused by the rider to other persons. Riders are also insured for damage they cause to other persons’ property resulting from use of a Lime or JUMP vehicle.</p>
      <div class="spacer-sm"></div>
      <a href="#" class="btn w-button">Certificates</a>
    </div>
    <div class="spacer-med"></div>
    <div class="c-feature-image__image-mask-2"><img src="../../assets/images/lime_madrid_spain-317.jpg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 69vw, (max-width: 1279px) 44vw, (max-width: 1439px) 45vw, (max-width: 1919px) 46vw, 50vw" srcset="../../assets/images/lime_madrid_spain-317-p-800.jpeg 800w,../../assets/images/lime_madrid_spain-317.jpg 1024w" alt="" class="c-feature-section__image-2"></div>
  </section>
  <div class="spacer-med"></div>
  <section id="feature-section" class="c-feature-section-2">
    <div class="c-feature-image__image-mask-2"><img src="../../assets/images/lime_madrid_spain-317.jpg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 75vw, (max-width: 1279px) 44vw, (max-width: 1439px) 45vw, (max-width: 1919px) 46vw, 50vw" srcset="../../assets/images/lime_madrid_spain-317-p-800.jpeg 800w,../../assets/images/lime_madrid_spain-317.jpg 1024w" alt="" class="c-feature-section__image-2"></div>
    <div class="spacer-med"></div>
    <div class="c-feature-section__content">
      <h3>If you’re in an accident while riding.<br></h3>
      <div class="spacer-sm"></div>
      <ul role="list" class="list">
        <li>
          <div>Check to make sure you and anyone else involved are safe.</div>
        </li>
        <li>
          <div>Reach out to local emergency officials as needed.</div>
        </li>
        <li>
          <div>Contact the Lime Trust &amp; Safety team via our customer support channels in the app.</div>
        </li>
      </ul>
    </div>
    <div class="spacer-med"></div>
  </section>
  <div class="container section-sml w-container">
    <div class="w-layout-grid grid-faq">
      <h3>FAQ</h3>
      <ul role="list" class="accordion">
        <li class="accoridon-list">
          <div data-w-id="a10b6e13-87f3-4f78-c836-78c68d4a8aed" class="faq-header">
            <h5>What do I do if I am in an accident while riding?</h5>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="icon-wrapper">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="icon-wrapper"><img src="../../assets/images/Group-38.svg" alt=""></div>
            </div>
          </div>
          <ul style="display:none;opacity:0" role="list" class="accordion-sublist">
            <li class="accordion-sublist-item">
              <div class="faq-content">
                <div class="rich-text-block w-richtext">
                  <p>Contact Support in the app by going to Help =&gt; &quot; I was in a n accident&quot; to submit a report.</p>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="accoridon-list">
          <div data-w-id="a10b6e13-87f3-4f78-c836-78c68d4a8afa" class="faq-header">
            <h5>What do I do if I was hit by a rider?</h5>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="icon-wrapper">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="icon-wrapper"><img src="../../assets/images/Group-38.svg" alt=""></div>
            </div>
          </div>
          <ul style="display:none;opacity:0" role="list" class="accordion-sublist">
            <li class="accordion-sublist-item">
              <div class="faq-content">
                <div class="rich-text-block w-richtext">
                  <ol role="list">
                    <li>Exchange contact information with the rider</li>
                    <li>Take photos of the incident including the vehicle, vehicle ID, location etc</li>
                    <li>Secure as much information as you can</li>
                    <li>Once completed, attach all relevant information and email <a href="mailto:accident@li.me">accident@li.me</a>
                    </li>
                  </ol>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="accoridon-list">
          <div data-w-id="a10b6e13-87f3-4f78-c836-78c68d4a8b10" class="faq-header">
            <h5>Do I have to wear a helmet when I ride?</h5>
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="icon-wrapper">
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0DEG) skew(0, 0)" class="icon-wrapper"><img src="../../assets/images/Group-38.svg" alt=""></div>
            </div>
          </div>
          <ul style="display:none;opacity:0" role="list" class="accordion-sublist">
            <li class="accordion-sublist-item">
              <div class="faq-content">
                <div class="rich-text-block w-richtext">
                  <p>Please always wear a helmet, even if the regulations vary depending on the region, country and location.</p>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
 {% endblock %}