{% macro contentSection(headline, subheadline, eyebrowHeadline,eyebrowBg, primaryBtnUrl,primaryBtnText,secondaryBtnUrl,secondaryBtnText,heroImage,alt) %}
{% include 'partials/feature-section-component-content-left-container.njk' %}
{% endmacro %}