<section id="benefits" class="c-benefits-section-2">
    <div class="container is--align-center w-container">
      <h2 class="is--weight-medium">Oh wow. Such benefits</h2>
      <div class="c-icon-callouts">
        <div id="w-node-339850754f3c-7d678d5e" class="is--align-center">
          <div class="c-benefits-section__image-mask-2"><img src="../../images/ls-1-1.svg" alt="" class="c-benefits-section__image-2 is--scaled-down"></div>
          <h5 class="is--weight-medium">Lock and unlock from Lime App</h5>
        </div>
        <div id="w-node-339850754f41-7d678d5e" class="is--align-center">
          <div class="c-benefits-section__image-mask-2"><img src="../../images/image-15.svg" width="99" height="143" alt="" class="c-benefits-section__image-2 is--scaled-down"></div>
          <h5 class="is--weight-medium">16.5 mph top speed</h5>
        </div>
        <div id="w-node-339850754f46-7d678d5e" class="is--align-center">
          <div class="c-benefits-section__image-mask-2"><img src="../../images/ls-3-1.svg" alt="" class="c-benefits-section__image-2 is--scaled-down"></div>
          <h5 class="is--weight-medium">Recycled and refreshed</h5>
        </div>
      </div>
    </div>
</section>