<section id="feature-section" class="c-feature-section-2 {{sectionBg}} {{contentDirection}}">
    <div class="c-feature-image__image-mask-2"><img src="{{imgUrl}}" alt="{{imgAlt}}" class="c-feature-section__image-2"></div>
    <div class="spacer-med"></div>
    <div class="c-feature-section__content">
      {% block heroContent %}
      {% include 'partials/eyebrow-filled-component.njk' %}
      <h2 class="{{textColor}}">{{headline}}</h2>
      <p class="{{textColor}}">{{subhead}}</p>
      {% endblock %}
    </div>
    <div class="spacer-med"></div>
</section>
