<div class="footer is--color-black">
    <div class="container w-container">
      <div class="w-layout-grid c-footernav">
        <div class="c-footer-menu is--hidden-desktop"><img src="../../images/Lime-Logo.svg" loading="lazy" alt="" class="c-footer-menu__logo"></div>
        <div class="c-footer-menu is--hidden-desktop w-clearfix">
          <a href="#" class="c-sitefooternav__nav-link has--icon w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image is--text-white">
            <div class="c-sitefooternav__support-text is--text-white">Find A Location</div>
          </a>
          <a href="#" class="c-sitefooternav__nav-link has--icon is--hidden__global w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image">
            <div class="c-sitefooternav__support-text is--text-white">English</div>
          </a>
          <a href="#" class="c-sitefooternav__nav-link has--icon w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image">
            <div class="c-sitefooternav__support-text is--text-white">Get Help</div>
          </a>
        </div>
        <div class="c-footer-menu is--hidden-mobile-landscape"><img src="../../images/Lime-Logo.svg" loading="lazy" alt="" class="c-footer-menu__logo"><img src="../../images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" loading="lazy" alt="" class="c-footer-menu__logo"><img src="../../images/google-play-badge.png" loading="lazy" alt="" class="c-footer-menu__logo"></div>
        <div class="c-footer-menu is--hidden-desktop"><img src="../../images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" loading="lazy" alt="" class="c-footer-menu__logo"><img src="../../images/google-play-badge.png" loading="lazy" alt="" class="c-footer-menu__logo"></div>
        <div id="w-node-9391c28c4696-c28c467d" class="c-footer-menu w-clearfix">
          <h6 class="c-sitefooternav__heading is--text-white">Join Us</h6>
          <a href="#" class="c-sitefooternav__nav-link">Locations</a>
          <a href="#" class="c-sitefooternav__nav-link">Safety</a>
          <a href="#" class="c-sitefooternav__nav-link">Careers</a>
          <a href="#" class="c-sitefooternav__nav-link">Juicers</a>
          <a href="#" class="c-sitefooternav__nav-link">Press</a>
          <a href="#" class="c-sitefooternav__nav-link">2nd Street Blog</a>
          <a href="#" class="c-sitefooternav__nav-link">About</a>
          <a href="#" class="c-sitefooternav__nav-link">Insurance</a>
        </div>
        <div id="w-node-9391c28c46a9-c28c467d" class="c-footer-menu w-clearfix">
          <h6 class="c-sitefooternav__heading is--text-white">About</h6>
          <a href="#" class="c-sitefooternav__nav-link">Ride Green</a>
          <a href="#" class="c-sitefooternav__nav-link">Lime Access</a>
          <a href="#" class="c-sitefooternav__nav-link">Lime Hero</a>
          <a href="#" class="c-sitefooternav__nav-link">Lime Action</a>
          <a href="#" class="c-sitefooternav__nav-link">Lime + Uber</a>
        </div>
        <div id="w-node-9391c28c46b6-c28c467d" class="c-footer-menu w-clearfix">
          <h6 class="c-sitefooternav__heading is--text-white">Programs</h6>
          <a href="#" class="c-sitefooternav__nav-link">Lime Corporate Partners</a>
          <a href="#" class="c-sitefooternav__nav-link">Lime Real Estate Partners</a>
          <a href="#" class="c-sitefooternav__nav-link">Lime Hub</a>
        </div>
        <div id="w-node-9391c28c46bf-c28c467d" class="c-footer-menu is--hidden-mobile-landscape w-clearfix">
          <a href="#" class="c-sitefooternav__nav-link has--icon w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image is--text-white">
            <div class="c-sitefooternav__support-text">Find A Location</div>
          </a>
          <a href="#" class="c-sitefooternav__nav-link has--icon is--hidden__global w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image">
            <div class="c-sitefooternav__support-text is--text-white">English</div>
          </a>
          <a href="#" class="c-sitefooternav__nav-link has--icon w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image">
            <div class="c-sitefooternav__support-text">Get Help</div>
          </a>
        </div>
      </div>
    </div>
    <div class="container w-container">
      <div class="c-legal-nav">
        <div class="c-legal-menu">
          <div class="c-legal-menu_copy-right is--text-white">2020 Lime</div>
          <a href="#" class="c-legal-menu__nav-link is--text-white">User Agreement</a>
          <a href="#" class="c-legal-menu__nav-link is--text-white">Privacy Policy</a>
          <a href="#" class="c-legal-menu__nav-link is--text-white">Data Requests</a>
          <a href="#" class="c-legal-menu__nav-link is--text-white">Research</a>
          <a href="#" class="c-legal-menu__nav-link is--text-white">Legal Bases</a>
          <a href="#" class="c-legal-menu__nav-link is--text-white">My Information</a>
          <a href="#" class="c-legal-menu__nav-link is--text-white">Imprint</a>
        </div>
        <div class="c-social-menu">
          <a href="#" class="c-social-menu__link w-inline-block"><img src="../../images/facebook.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
          <a href="#" class="c-social-menu__link w-inline-block"><img src="../../images/Instagram_2016.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
          <a href="#" class="c-social-menu__link w-inline-block"><img src="../../images/twitter.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
          <a href="#" class="c-social-menu__link w-inline-block"><img src="../../images/linkedin.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
          <a href="#" class="c-social-menu__link w-inline-block"><img src="../../images/youtube.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
        </div>
      </div>
    </div>
</div>
