<div class="footer is--color-black">
    <div class="container w-container">
      <div class="w-layout-grid c-footernav is--store-footer-nav">
        <div class="c-footer-menu is--hidden-desktop"><img src="../../images/Lime-Logo.svg" loading="lazy" alt="" class="c-footer-menu__logo"></div>
        <div class="c-footer-menu is--hidden-desktop w-clearfix">
          <a href="#" class="c-sitefooternav__nav-link has--icon w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image is--text-white">
            <div class="c-sitefooternav__support-text is--text-white">Find A Location</div>
          </a>
          <a href="#" class="c-sitefooternav__nav-link has--icon is--hidden__global w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image">
            <div class="c-sitefooternav__support-text is--text-white">English</div>
          </a>
          <a href="#" class="c-sitefooternav__nav-link has--icon w-inline-block"><img src="../../images/pin.svg" loading="lazy" alt="" class="c-sitefooternav__image">
            <div class="c-sitefooternav__support-text is--text-white">Get Help</div>
          </a>
        </div>
        <div class="c-footer-menu is--hidden-mobile-landscape"><img src="../../images/Lime-Logo.svg" loading="lazy" alt="" class="c-footer-menu__logo">
          <a href="https://apps.apple.com/us/app/limebike-your-ride-anytime/id1199780189?ls=1" target="_blank" class="link-block w-inline-block"><img src="../../images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" loading="lazy" alt="" class="c-footer-menu__logo"></a>
          <a href="https://play.google.com/store/apps/details?id=com.limebike&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank" class="link-block w-inline-block"><img src="../../images/google-play-badge.png" loading="lazy" alt="" class="c-footer-menu__logo"></a>
        </div>
        <div class="c-footer-menu is--hidden-desktop"><img src="../../images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" loading="lazy" alt="" class="c-footer-menu__logo"><img src="../../images/google-play-badge.png" loading="lazy" alt="" class="c-footer-menu__logo"></div>
        <div id="w-node-904e9b2a3e2e-9b2a3e15" class="c-footer-menu w-clearfix">
          <h6 class="c-sitefooternav__heading is--text-white">Orders &amp; Support</h6>
          <a href="../../store/faqs.html" class="c-sitefooternav__nav-link">FAQ&#x27;s</a>
          <a href="../../store/warranty.html" class="c-sitefooternav__nav-link">Warranty</a>
          <a href="../../store/retail-partners.html" class="c-sitefooternav__nav-link">Retail Partners</a>
        </div>
        <div class="c-footer-menu w-clearfix">
          <h6 class="c-sitefooternav__heading is--text-white">About</h6>
          <a href="../../store/operating-manual.html" class="c-sitefooternav__nav-link">Operating Manual</a>
          <a href="https://www.li.me/about-us/" class="c-sitefooternav__nav-link">Lime</a>
        </div>
        <div id="w-node-904e9b2a3e3e-9b2a3e15" class="c-footer-menu">
          <h6 class="c-sitefooternav__heading is--text-white">Email</h6>
          <div class="c-footer-form-wrapper w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="c-footer-form"><input type="email" class="c-footer-form__input w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Email address" id="email-2" required=""><input type="submit" value="arrow_forward" data-wait="Please wait..." class="c-footer-form__btn w-button"></form>
            <p class="is--text-g01">Subscribe to receive communications Lime updates on products, services, and more.</p>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container">
      <div class="c-legal-nav">
        <div class="c-legal-menu">
          <div class="c-legal-menu_copy-right">2020 Lime</div>
          <a href="/store/legal/legal#user-agreement" class="c-legal-menu__nav-link">User Agreement</a>
          <a href="/store/legal/legal#privacy" class="c-legal-menu__nav-link">Privacy Policy</a>
          <a href="/store/legal/legal#terms" class="c-legal-menu__nav-link">Terms &amp; Conditions</a>
        </div>
        <div class="c-social-menu">
          <a href="https://www.facebook.com/limebike/" target="_blank" class="c-social-menu__link w-inline-block"><img src="../../images/facebook.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
          <a href="https://www.instagram.com/lime/?hl=en" target="_blank" class="c-social-menu__link w-inline-block"><img src="../../images/Instagram_2016.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
          <a href="https://twitter.com/limebike" target="_blank" class="c-social-menu__link w-inline-block"><img src="../../images/twitter.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
          <a href="https://www.linkedin.com/company/limebike" target="_blank" class="c-social-menu__link w-inline-block"><img src="../../images/linkedin.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
          <a href="https://www.youtube.com/channel/UCQ0MzWRGkmr_K-_QFVcvgsw" target="_blank" class="c-social-menu__link w-inline-block"><img src="../../images/youtube.svg" loading="lazy" alt="" class="c-social-menu__image"></a>
        </div>
      </div>
    </div>
</div>
