<div class="c-gallery">
    <div class="slider-for">
      <div class="c-gallery__image-mask"><img src="../../images/Scooter-Image.jpg" loading="lazy" sizes="(max-width: 991px) 100vw, 700px" srcset="../../images/Scooter-Image-p-500.jpeg 500w, ../../images/Scooter-Image-p-800.jpeg 800w, ../../images/Scooter-Image.jpg 981w" alt="" class="c-gallery__main-img"></div>
      <div class="c-gallery__image-mask is--hidden"><img src="../../images/BrandFilm_Carlos_BTS_0519-06-1.jpg" loading="lazy" sizes="100vw" srcset="../../images/BrandFilm_Carlos_BTS_0519-06-1-p-500.jpeg 500w, ../../images/BrandFilm_Carlos_BTS_0519-06-1.jpg 697w" alt="" class="c-gallery__main-img"></div>
      <div class="c-gallery__image-mask is--hidden"><img src="../../images/Dezin-DS---Image-Portrait.jpg" loading="lazy" sizes="100vw" srcset="../../images/Dezin-DS---Image-Portrait-p-500.jpeg 500w, ../../images/Dezin-DS---Image-Portrait.jpg 800w" alt="" class="c-gallery__main-img"></div>
      <div class="c-gallery__image-mask is--hidden"><img src="../../images/Dezin-DS---Image-Landscape.jpg" loading="lazy" sizes="100vw" srcset="../../images/Dezin-DS---Image-Landscape-p-1080.jpeg 1080w, ../../images/Dezin-DS---Image-Landscape.jpg 1500w" alt="" class="c-gallery__main-img"></div>
    </div>
    <div class="slider-nav">
      <div class="c-gallery__nav-img-mask"><img src="../../images/Scooter-Image.jpg" loading="lazy" sizes="100px" srcset="../../images/Scooter-Image-p-500.jpeg 500w, ../../images/Scooter-Image-p-800.jpeg 800w, ../../images/Scooter-Image.jpg 981w" alt="" class="c-gallery__nav-img"></div>
      <div class="c-gallery__nav-img-mask"><img src="../../images/BrandFilm_Carlos_BTS_0519-06-1.jpg" loading="lazy" sizes="100px" srcset="../../images/BrandFilm_Carlos_BTS_0519-06-1-p-500.jpeg 500w, ../../images/BrandFilm_Carlos_BTS_0519-06-1.jpg 697w" alt="" class="c-gallery__nav-img"></div>
      <div class="c-gallery__nav-img-mask"><img src="../../images/Dezin-DS---Image-Portrait.jpg" loading="lazy" sizes="100px" srcset="../../images/Dezin-DS---Image-Portrait-p-500.jpeg 500w, ../../images/Dezin-DS---Image-Portrait.jpg 800w" alt="" class="c-gallery__nav-img"></div>
      <div class="c-gallery__nav-img-mask"><img src="../../images/Dezin-DS---Image-Landscape.jpg" loading="lazy" sizes="100px" srcset="../../images/Dezin-DS---Image-Landscape-p-1080.jpeg 1080w, ../../images/Dezin-DS---Image-Landscape.jpg 1500w" alt="" class="c-gallery__nav-img"></div>
    </div>
    <div class="w-embed">
      <style>
      .c-gallery .slick-list{
        padding:0 15px !important;
      }
      .c-gallery .slick-track{
        margin:0 !important;
      }
      .c-gallery__image-mask.slick-slide{
        height:800px !important; 
      }
      .c-gallery__nav-img-mask.slick-slide{
        height:100px !important;
        width:100px !important;
      }
      </style>
  </div>
</div>