<div class="c-nav__header is--nav-shop">
  <div id="w-node-8095535566e0-535566df" class="c-nav__header--logo">
    <a href="https://li.me/" class="w-inline-block"><img src="../../images/Lime-Logo.svg" loading="lazy" alt="" class="c-sitenav__logo-image"></a>
  </div>
  <a href="/product/lime-gen-2-5" id="w-node-8095535566e2-535566df" class="c-nav__header--link is--hidden-mobile-portrait">Home</a>
  <a href="/product/lime-gen-2-5#benefits" id="w-node-8095535566e4-535566df" class="c-nav__header--link is--hidden-mobile-portrait">Features</a>
  <a href="/product/lime-gen-2-5#purchase" id="w-node-8095535566e6-535566df" class="c-nav__header--link is--hidden-mobile-portrait">Buy</a>
</div>
