<div class="c-nav__header">
  <div id="w-node-4378341c3e56-341c3e55" class="c-nav__header--logo"><img src="../../images/Lime-Logo.svg" loading="lazy" alt="" class="c-sitenav__logo-image"></div>
  <div id="w-node-4378341c3e58-341c3e55" class="c-nav__header--menu">
    <a href="#" class="btn btn--outline-dark btn--med is--hidden-mobile-portrait w-button">Get Help</a>
    <div class="spacer-16 is--hidden-mobile-portrait"></div>
    <a href="#" class="btn btn--med w-button">Download App</a>
  </div>
</div>
