<header id="hero" class="c-hero">
  <div class="flex-container is--full-height w-container">
    <div>
      <h1>Hero</h1>
      <p>This <strong>hero</strong> is built with a <strong>flex</strong> layout, so the content will grow or shrink to fit the space available in its container. <br>‍<br>To change this section’s background, select the “Hero Section,” then scroll to the <strong>background</strong> section of the Style panel and add a color, image, or gradient.</p>
      <a href="#" class="btn w-button">Button text</a>
    </div>
    <div class="c-hero__image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="c-hero__image"></div>
  </div>
</header>
