<div>
    <div class="w-container">
      <div class="table-wrapper">
        <div class="table">
          <div class="table-row-3-col data-row wide is--color-n10">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
          <div class="table-row-3-col data-row wide">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
          <div class="table-row-3-col data-row wide is--color-n10">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
          <div class="table-row-3-col data-row wide">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
          <div class="table-row-3-col data-row wide is--color-n10">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
          <div class="table-row-3-col data-row wide">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
          <div class="table-row-3-col data-row wide is--color-n10">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
          <div class="table-row-3-col data-row wide">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
          <div class="table-row-3-col data-row wide is--color-n10">
            <div class="table-col data left">
              <div class="table-1---header---text">Category</div>
            </div>
            <div class="table-col">
              <div class="table-1---header---text data is--align-left">1,000,000</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
 